module Scraper
  module <%= name.camelize %>
    class <%= parser.camelize %>
      include Scraper::BLogger

      def initialize(nokodoc)
        @nokodoc = nokodoc
      end

      def run
        links = @nokodoc.xpath('//a')
        urls  = []
        to_keep = []
        links.each do |link|
          to_keep << link.text
          href = link.attribute('href')
          urls << href.value rescue next
        end
        [{}, {data: to_keep }]
      rescue StandardError => e
        log.error(e.message)
        raise e
      end
    end
  end
end
