:name: <%= name %>

:inputs: 'sources/<%= name %>/inputs.csv'

:defaults:
  :limit: 10

:host: 'https://<%= name.sub('_', '.') %>'

:headers:
  :user-agent: 'Mozilla/5.0 (Linux; U; Android 4.4.4; Nexus 5 Build/KTU84P) AppleWebkit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30'

:start:
  :urls:
    :<%= parser %>:
      - '/search'
  :request:
    q: <\%= term_1 %> <\%= term_2 %>
