require 'spec_helper'

describe Scraper::<%= name.camelize %>::<%= parser.camelize %> do
  subject { Scraper::<%= name.camelize %>::<%= parser.camelize %>.new(nokodoc) }

  let(:file)    { 'spec/fixtures/<%= name %>/<%= parser %>.html' }
  let(:nokodoc) { Nokogiri::HTML(IO.read(file)) }

  it 'should_return_something' do
    subject.run.map(&:keys).flatten.must_equal [:data]
  end
end
